{% extends 'blog/base_full_width.html' %}
<!-- 포스트 등록 form에 crispy form 적용-->
{% load crispy_forms_tags %}

{% block head_title %}Create Post - Blog{% endblock %}

{% block main_area %}
    <h1>Create New Post</h1>
    <hr/>
    <form method = "post" enctype="multipart/form-data">{% csrf_token %}
        <!--<table>-->
            {{form | crispy}}
            <div for = 'div_id_tags_str'><!-- tag용 -->
                <label for = "id_tags_str">Tags:</label>
                <input type="text" name='tags_str' id='id_tags_str' class='textinput' textInput form-control">
            </div>
            <br/>
            <!--
            <tr>
                <th><label for="id_tags_str">Tags:</label></th>
                <td><input type='text' name='tags_str' id='id_tags_str'></td>
            </tr>
        </table>
        -->
        <button type='submit' class = 'btn btn-primary float-right'>Submit</button>
    </form>
    {{form.media}} <!-- 마크다운 만들어지는 모습 실시간으로 보여준다-->
{% endblock %}